@font-face {
    font-family: 'HKGrotesk Bold';
    src: url('/assets/fonts/HKGrotesk-Bold.eot') format('eot'),
         url('/assets/fonts/HKGrotesk-Bold.woff') format('woff'),
         url('/assets/fonts/HKGrotesk-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'HKGrotesk Medium';
    src: url('/assets/fonts/HKGrotesk-Medium.eot') format('eot'),
         url('/assets/fonts/HKGrotesk-Medium.woff') format('woff'),
         url('/assets/fonts/HKGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
}


@font-face {
    font-family: 'HKGrotesk Regular';
    src: url('/assets/fonts/HKGrotesk-Regular.eot') format('eot'),
         url('/assets/fonts/HKGrotesk-Regular.woff') format('woff'),
         url('/assets/fonts/HKGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
}

